<div class="main-container col-12">
  <div class="row text-center">
    <img class="imagen text-center" src="assets/img/logo.png" alt="telefono">
  </div>
  <div class="row">
    <div class="col-12 text-center titulo">
      Bienvenido a su portal
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mensaje">
      Aquí encontrara sus opciones de configuración y visualización su información, a su vez podrá configurar talleres y mantener actualizada la información de sus contactos y personal de apoyo
    </div>
  </div>

</div>
