<div class="container">
    <form ngNativeValidate>
        <div class="form-group row">
            <label for="inputName1" class="col-sm-2 col-form-label">Nombre completo</label>
            <div class="col-sm-10">
                <input formControlName="nombre" type="text" class="form-control" id="inputName1" placeholder="Nombre completo">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input formControlName="correo" type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Su sexo</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input formControlName="sexo" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
              Masculino
            </label>
                    </div>
                    <div class="form-check">
                        <input formControlName="sexo" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
              Femenino
            </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label for="inputDir1" class="col-sm-2 col-form-label">Direccion de domicilio</label>
            <div class="col-sm-10">
                <input formControlName="direccion" type="text" class="form-control" id="inputDir1" placeholder="Direccion de domicilio">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCel1" class="col-sm-2 col-form-label">Telefono celular</label>
            <div class="col-sm-10">
                <input formControlName="celular" type="number" class="form-control" id="inputCel1" placeholder="Telefono celular">
            </div>
        </div>
        <div class="form-group row">
            <label for="dateOfBirth" class="col-sm-2 col-form-label">Fecha de nacimiento</label>
            <div class="col-sm-10">
                <input formControlName="profesion" type="text" bsDatep-icker class="form-control" id="dateOfBirth" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Estado Civil</label>
            <div class="col-sm-10">
                <select id="status" formControlName="id_estado_civil" class="selectpicker">
                    <option>Soltero</option>
                    <option>Casado</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>
</div>