<div class="container">
  <div class="row">
    <a class="title">Disponibilidad</a>
  </div>
  <app-voluntarios-disponibilidad-item [dia_text]="'Lunes'" #lunes></app-voluntarios-disponibilidad-item>
  <app-voluntarios-disponibilidad-item [dia_text]="'Martes'" #martes></app-voluntarios-disponibilidad-item>
  <app-voluntarios-disponibilidad-item [dia_text]="'Miercoles'" #miercoles></app-voluntarios-disponibilidad-item>
  <app-voluntarios-disponibilidad-item [dia_text]="'Jueves'" #jueves></app-voluntarios-disponibilidad-item>
  <app-voluntarios-disponibilidad-item [dia_text]="'Viernes'" #viernes></app-voluntarios-disponibilidad-item>
  <app-voluntarios-disponibilidad-item [dia_text]="'Sabado'" #sabado></app-voluntarios-disponibilidad-item>
  <app-voluntarios-disponibilidad-item [dia_text]="'Domingo'" #domingo></app-voluntarios-disponibilidad-item>
</div>
