<div class="main-container">
  <form #forma="ngForm">
    <hr>
    <div class="row">
      <h4 class="title">Habilidades</h4>
    </div>
    <div class="row">
      <li class="title"> <h5>Habilidades técnicas</h5></li>
    </div>
    <div class="row form-group">
      <label class="customcheck">Diseño gráfico
         <input type="checkbox"
                ngModel
                checked="checked"
                name="1"
                >
        <span class="checkmark"></span>
        </label>
    </div>
    <div class="row form-group">
      <label class="customcheck">Diseño gráfico
         <input type="checkbox"
                checked="checked"
                ngModel
                name="2"
                >
         <span class="checkmark"></span>
       </label>
    </div>
    <div class="row form-group">
      <label class="customcheck">Impartir conferencias
         <input type="checkbox"
                checked="checked"
                ngModel
                name="3"
                >
         <span class="checkmark"></span>
       </label>
    </div>
    <div class="row form-group">
      <label>Otros</label>
      <input  type="text"
              class="form-control"
              placeholder="otros"
              ngModel
              name="4">
    </div>
    <hr>
    <div class="row">
      <li class="title"> <h5>Eventos(Dentro y fuera de nuestra sede)</h5></li>
    </div>

    <div class="row form-group">
      <label class="customcheck">Decoración
         <input type="checkbox"
                checked="checked"
                ngModel
                name="5"
                >
         <span class="checkmark"></span>
       </label>
    </div>
    <div class="row form-group">
      <label class="customcheck">Refrigerio
         <input type="checkbox"
                checked="checked"
                ngModel
                name="6"
                >
         <span class="checkmark"></span>
       </label>
     </div>
     <div class="row form-group">
       <label>Otros</label>
       <input  type="text"
               class="form-control"
               placeholder="otros"
               ngModel
               name="7">
     </div>
     <div class="row">
       <li class="title"> <h5>Comunicación</h5></li>
     </div>
     <div class="row form-group">
       <label class="customcheck">Llamadas telefónicas o mensajes por Whatsapp
          <input type="checkbox"
                 checked="checked"
                 ngModel
                 name="8"
                 >
          <span class="checkmark"></span>
        </label>
     </div>
     <div class="row form-group">
       <label class="customcheck">Redes sociales
          <input type="checkbox"
                 checked="checked"
                 ngModel
                 name="9"
                 >
          <span class="checkmark"></span>
        </label>
        </div>
     <div class="row form-group">
       <label>Otros</label>
       <input  type="text"
               class="form-control"
               placeholder="otros"
               ngModel
               name="10">
     </div>
   </form>
</div>
