<div class="main-container backColor">
  <div class="row">
    <img class="logoBarra" src="assets/img/logo_blanco.png" alt="Telefono de la esperanza">
  </div>
  <div class="row" [routerLink]="['']">
    <i class="fa fa-home stilo-item"></i><p class="row-text"> Inicio</p>
  </div>
  <div class="row" [routerLink]="['Registro']">
    <i class="fa fa-phone-square stilo-item"></i> <p class="row-text">Registro</p>
  </div>
  <div class="row" [routerLink]="['Calendario']">
    <i class="fa fa-calendar stilo-item"></i>  <p class="row-text">Calendario</p>
  </div>
  <div class="row" [routerLink]="['Voluntarios']">
    <i class="fa fa-users stilo-item"></i>  <p class="row-text">Voluntarios</p>
  </div>
  <div class="row" [routerLink]="['Talleres']">
    <i class="fa fa-clipboard  stilo-item"></i>  <p class="row-text">Talleres</p>
  </div>
  <div class="row" [routerLink]="['DashBoard']">
    <i class="fa fa-signal stilo-item"></i>  <p class="row-text">DashBoard</p>
  </div>
</div>
